<ul>
  {% for news_article in news[:5]  | sort(attribute='published_date', reverse=true) %}
  <li>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4">
          <div class="card shadow-sm">
            <img src="" class="card-img-top" alt="News Image">
            <div class="card-body">
              <h5 class="card-title">{{ news_article['title'] }}</h5>
              <p class="card-text">
                {{ news_article['description'][:50] }} ...
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{ news_article['published_date']}}</small> 
<a href="#">{{ news_article['author']}}</a>
                <a href="#" class="btn btn-primary btn-sm text-white">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </li>
{% endfor %}
</ul>