<ul>
    {% for category in categories[:4] %}
    <li>
      <a>{{category['name']}}</a>
    </li>
    {% endfor %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      More
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      {% for category in categories[4:] %}
      <li><a class="dropdown-item" href="#">{{ category['name'] }}</a></li>
      {% endfor %}
    </ul>
  </li>
</ul>